:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
}

body {
  min-height: 100vh;
}

body {
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
